body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ccc;
  color: black;
}

.topnav a.active {
  background-color: #2080EF;
  color: white;
}

/* for mobile */

.topnav #menulinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

a {
  color: black;
}

a[href*='//'] {
  color: #2080EF;
}

a[href*='mailto'] {
  color: #2080EF;
}

a:link:not(.topnav a):link {
  text-decoration: underline;
}

a:visited:not(.topnav a):visited {
  text-decoration: underline;
}

a:hover:not(.topnav a):hover {
  text-decoration: none;
}

a:active:not(.topnav a):active {
  text-decoration: underline;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.sidebar {
  margin: 80px;
  width: 400px;
  height: auto;
  text-align: center;
  float: left;
  background-color: #ffffff;
}

.orcid {
  margin-top: 10px;
  font-size: 16px;
}

.profilename {
  font-family: Helvetica;
  font-size: 24px;
}

.profiledescr {
  font-family: Helvetica;
  font-size: 20px;
  color: #a0a0a0;
}

.profilepic {
  width: 160px;
  height: 160px;
}

.mainarea {
  position: absolute;
  margin: 40px;
  height: auto;
  width: auto;
  text-align: left;
  float: left;
  background-color: #ffffff;
  display: none;
  float: left;
}

.title1 {
  font-family: Helvetica;
  font-size: 48px;
  font-weight: bold;
}

.title2 {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
}

.title3 {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
}

.socialmedia {
  margin-top: 10px;
}

.socialmediaicon {
  margin-left: 5px;
  margin-right: 5px;
  width: 48;
  height: 48px;
}

.text {
  font-family: Helvetica;
  font-size: 18px;
}
.serif-text {
  font-family: Times;
  font-size: 20px;
}
